Repository al002/modern-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxlint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

optimize
  README.md
  README_zh.md
  apps/chrome-extension/manifest.json
  apps/chrome-extension/options.html
  apps/chrome-extension/popup.html
  apps/chrome-extension/src/content/index.ts
  apps/chrome-extension/src/options/index.tsx
  apps/chrome-extension/src/popup/index.tsx
Due: oxlint --fix, prettier --write

remove extension app
  apps/chrome-extension/manifest.json
  apps/chrome-extension/options.html
  apps/chrome-extension/package.json
  apps/chrome-extension/popup.html
  apps/chrome-extension/src/.gitkeep
  apps/chrome-extension/src/background/.gitkeep
  apps/chrome-extension/src/background/index.ts
  apps/chrome-extension/src/components/.gitkeep
  apps/chrome-extension/src/components/features/.gitkeep
  apps/chrome-extension/src/components/layouts/.gitkeep
  apps/chrome-extension/src/components/shared/.gitkeep
  apps/chrome-extension/src/content/.gitkeep
  apps/chrome-extension/src/content/index.ts
  apps/chrome-extension/src/hooks/.gitkeep
  apps/chrome-extension/src/lib/utils.ts
  apps/chrome-extension/src/options/.gitkeep
  apps/chrome-extension/src/options/index.tsx
  apps/chrome-extension/src/popup/.gitkeep
  apps/chrome-extension/src/popup/index.tsx
  apps/chrome-extension/src/stores/.gitkeep
  apps/chrome-extension/src/styles/globals.css
  apps/chrome-extension/src/types/.gitkeep
  apps/chrome-extension/tsconfig.json
  apps/chrome-extension/vite.config.ts
Due: oxlint --fix, prettier --write

chore: login flow
  apps/web/src/routes/_auth/login.lazy.tsx
  packages/ui/src/components/auth/login-form.tsx
Due: oxlint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change husky hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none
